<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Profile</title>
    <link rel="stylesheet" href="../../static/styles.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
</head>

<body>
    <div class="background">
        <div class="leftNavBar">
            <button><i class="fa-duotone fa-user"></i><a href="teachersProfile.html">my profile </a></button>

            <ul>
                <nav>
                    <li><i class="fa-duotone fa-screen-users"></i><a href="manageStudents.html">manage students</a></li>
                    <div class="hr"><hr></div>
                    <li><i class="fa-duotone fa-calendar-users"></i><a href="teacherTimeTable.html">time table</a></li>
                    <div class="hr"><hr></div>
                    <li><i class="fa-duotone fa-books"></i><a href="teacher subject.html"">subjects</a></li>
                    <div class="hr"><hr></div>
                </nav>
            </ul>

            <div class="edit"> <i class="fa-duotone fa-edit"></i>Add Profile Photo</div>

        </div>

        <div class="rightNavBar">
            <div class="wish">Welcome, Teacher!</div>

            <div class="profileCard">
                <div class="profileImage">
                    <img src="/templates/teacher/1000036677.jpg" alt="image" class="image">
                </div>

                <div class="profileInfo">
                    <div class="nameBranch">
                        <p class="userName">puneethKrishna</p>
                        <p class="branch">Associate processor</p>
                    </div>
                    <div class="boxInfo">
                        <div class="boxDetails"><div class="text">employee ID     <p>12345678</p></div></div>
                        <div class="boxDetails"><div class="text">technical skills<p>assciate</p></div></div>
                        <div class="boxDetails"><div class="text">department   <p>CSE</p></div></div>
                        <div class="boxDetails"><div class="text">experience      <p>4 yrs</p></div></div>
                    </div>
                </div>
            </div>

            <div class="allInfo">
                <div class="cardInfo">
                    <div class="info">
                        personal information 
                    </div>
                    <div><div class="detail">first name: </div> <div class="fName gap"> Puneeth krishna</div></div>
                    <div><div class="detail">last name: </div> <div class="lName gap">rakunde</div></div>
                    <div><div class="detail">gender: </div> <div class="gender gap">male</div></div>
                    <div><div class="detail">date of birth: </div> <div class="dob gap">12-05-2003</div></div>
                    <div><div class="detail">phone number: </div> <div class="phno gap">7483262382</div></div>
                    <div><div class="detail" >email: </div> <div class="email gap" style="text-transform: lowercase;">rspuneeth30@gmail.com</div></div>
                </div>
                <div class="cardInfo">
                    <div class="info">
                        teaching details
                    </div>
                    <div><div class="detail"> Employee ID: </div><div class="fName gap gap"> Puneeth krishna</div></div>
                    <div><div class="detail">Subjects Taught: </div><div class="lName gap">rakunde</div></div>
                    <div><div class="detail">Classes Assigned: </div><div class="gender gap">male</div></div>
                    <div><div class="detail">Years of Experience: </div><div class="dob gap">12-05-2003</div></div>
                    <div><div class="detail">Qualifications: </div><div class="phno gap">7483262382</div></div>
                    <div><div class="detail">Date of Joining: </div><div class="email gap">rspuneeth30@gmail.com</div></div>
                </div>
            </div>

        </div>
    </div>
</body>

